

    #page-site-index #page-header, #page-login-index #page {
        background-color: #f2f2f0 !important;
        background-image: url(http://frro.cvg.utn.edu.ar/pluginfile.php/1/theme_snap/coverimage/1565009858/site-image.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        height: 100%;
        overflow: hidden;
    }

    .footer-classic {
        position: relative;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
    }

    .context-dark, .bg-gray-dark, .bg-primary {
        color: rgba(255, 255, 255, 0.8);
    }

    .footer-logo {
        max-width: 250px;
    }

    .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
        color: #ffffff;
    }


    .campos {
        margin-top: 5px;
        font-size: 20px;
    }

    .submit {
        width: 100%;
    }

    .nav-pills .nav-link.active, .show>.nav-pills .nav-link {
        background: #000000 !important
    }

    /* SIDEBAR */
    body {
        overflow-x: hidden;
    }

    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

    #page-content-wrapper {
        min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }
    }
    .home-container {
        background-image: url('../img/fondo.png');
        background-size: cover;
        min-height: 600px;
    }
    .home-text {
        color: white;
        border: 2px solid;
        padding: 20px;
        border-radius: 20px
    }
    .navbar-toogle {
        color: rgba(255,255,255,.5) !important;
        background: transparent !important;
        padding: 5px;
        border-radius: 4px;
        border: 1px rgba(255,255,255,.5) solid;
    }
    .navbar-toogle:hover {
        opacity: 0.6;
    }
    .bg-light-gray {
        background: rgba(0,0,0,.05);
    }
    .row-consultas {
        border: 1px solid grey;
        border-radius: 4px;
    }
    .order-card {
        color: #fff;
    }

    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }

    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }

    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }

    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }


    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .card .card-block {
        padding: 25px;
    }

    .order-card i {
        font-size: 26px;
    }
    /* inscripcion consulta */
    .list-horario:hover {
        background-color: #4bd;
        color: white;
        cursor: pointer;
    }
